In [1]:
# probability of getting 3 when die is rolled
ns=6 #n(S)={1,2,3,4,5,6}
na=1 #n(a)={3}
pa=na/ns # p(A)
print("probability of getting 3 is", pa)

probability of getting 3 is 0.16666666666666666

In [2]:
# probabilty of getting atleast one head when a coin is tossed thrice
ns=8 #n(s)={HHH,HHT,HTH,THH,TTT,TTH,THT,HTT}
na=7 # n(A){TTH,THT,HTT,HHH,HHT,HTH,THH}
pa=na/ns #p(A)
print("probability of getting atleast one head is ",pa)

probability of getting atleast one head is  0.875

In [3]:
# A glass jar contains 5 red , 3 blue and 2 green jelly beans. I
# If the jelly bean is chosen at random from the jar ,
#what is the probability that it is not blue
ns=10 #n(s)={R,R,R,R,R,B,B,B,G,G}
na=7 #n(A)={R,R,R,R,R,G,G}
pa=na/ns # P(A)
print("Probabilty of getting not a blue jelly is", pa)

Probabilty of getting not a blue jelly is 0.7

In [4]:
# If the probability that person A  will be alive in 20 years
# is 0.7 and the probability that person B will be alive in 
# 20 years is 0.5, what is the probability that they will 
# both be alive in 20 years?
# These are independent event so, 
P=0.7*0.5
print("probabilty that they will be alive after 20 years is:", P)

probabilty that they will be alive after 20 years is: 0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
# A fair die is tossed twice. Find the probability of getting
#4 or 5 on the first toss and a 1,2 or 3 in the second toss.
pa=event_probability(2,6) # probabilty of getting a 4 or 5 on the first toss
pb= event_probability(3,6) # probability of getting 1,2,3 in second toss
P=pa*pb 
print("probabilty of getting 4 or 5 in the first toss and a 1,2 or 3 in sewcond toss is", P)

probabilty of getting 4 or 5 in the first toss and a 1,2 or 3 in sewcond toss is 0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles
# In each draw a marble is drawn from the bag and not replaced
# In three draws , find the probability of obtaining white
# black and greem in that order
pw=event_probability(5,10)
pb= event_probability(3,9)
pg= event_probability(2,8)
print(" The probabilty of obtaining white, black, and green in that order is", pw,pb,pg)

 The probabilty of obtaining white, black, and green in that order is 0.5 0.3333333333333333 0.25

In [8]:
# Sample space 
cards=52
# Calculate the probabilty of drawing a heart or a club 
hearts=13
clubs=13
heart_or_club=event_probability(hearts, cards)+ event_probability(clubs, cards)
print(heart_or_club)

0.5

In [9]:
# Calculate the probability of drawing an ace, king or queen
cards=52
# Calculate the probability of drawing Ace, King or Queen 
Ace=4
King=4
Queen=4
Ace_King_or_Queen=event_probability(Ace, cards)+event_probability(King,cards)+event_probability(Queen, cards)
print(Ace_King_or_Queen)

0.23076923076923078

In [10]:
# Calculate the probabilty of drawing heart or an ace
cards=52
Ace=4
Heart=13
Ace_of_hearts=1
Heart_or_Ace=event_probability(Ace, cards)+event_probability(Heart, cards)-event_probability(Ace_of_hearts, cards)
print(round(Heart_or_Ace,1))  # round function is used to roundup the value 1 is for 1

0.3

In [11]:
#Calculate the probabilty of drawing red cards or face cards
cards=52
Red_cards=26
Face_cards=12
Face_cards_of_red=6
Red_or_Face=event_probability(Red_cards, cards)+event_probability(Face_cards,cards)-event_probability(Face_cards_of_red,cards)
print(round(Red_or_Face,1))

0.6

In [12]:
# probability of not getting 5 when a fair die is rolled 
ns=6 #n(S)={1,2,3,4,5,6}
na=1 #n(A={5}
pa=na/ns # p(a)
print("probability of not getting 5 is : ", 1-pa)

probability of not getting 5 is :  0.8333333333333334

In [13]:
# Suppose you draw 2 cards from deck. You win if you get 
# ace given that you darw a jack in first draw
cards=52
j=4
ace=4
pj=event_probability(j,52)
pa=event_probability(ace,51)
pa_given_j=(pj*pa)/pj
print(pa_given_j)

0.0784313725490196

In [14]:
import pandas as pd 
import numpy as np
df=pd.read_csv("C:/Users/MSCIT/Downloads/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [15]:
len(df)

395

In [16]:
df['grade_A']=np.where(df["G3"]*5>80,1,0)
df['grade_A']

0      0
1      0
2      0
3      0
4      0
      ..
390    0
391    0
392    0
393    0
394    0
Name: grade_A, Length: 395, dtype: int32

In [17]:
df['high_absences']=np.where(df['absences']>=10,1,0)
df['high_absences']

0      0
1      0
2      1
3      0
4      0
      ..
390    1
391    0
392    0
393    0
394    0
Name: high_absences, Length: 395, dtype: int32

In [18]:
df['count']=1
df['count']

0      1
1      1
2      1
3      1
4      1
      ..
390    1
391    1
392    1
393    1
394    1
Name: count, Length: 395, dtype: int64

In [19]:
df=df[['grade_A','high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [20]:
final=pd.pivot_table(
      df,
      values='count',
      index=['grade_A'],
      columns=['high_absences'],
      aggfunc=np.size,
      fill_value=0
)
print(final)

high_absences    0   1
grade_A
0              292  79
1               20   4

In [42]:
total=final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1]
p_a=(final.iloc[1,0]+final.iloc[1,1])/total
p_a

0.060759493670886074

In [43]:
p_b=(final.iloc[0,1]+final.iloc[1,1])/total
p_b

0.21012658227848102

In [44]:
p_c=(final.iloc[1,1])/total
p_c

0.010126582278481013

In [45]:
p_d=p_c/p_b

In [46]:
p_d

0.048192771084337345